@import "tailwindcss";

:root {
  --background: #f9f8f6;
  --foreground: #031927;
  --primary: #1d76a5;
  --primaryHover: #165a7e;
  --secondary: #c8d9e6;
  --accent: #ba1200;
  --accentHover: #990f00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primaryHover: var(--primaryHover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accentHover: var(--accentHover);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
